* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

main {
    background-color: #083b4c;
}

#contenitore {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;


    width: calc(100% / 2);
    margin: 0 auto;
    /* min-height: 300px; */
    padding: 15px;


    background-color: #083b4c;
   

}




span {
    width: 80px;
    height: 80px;

    padding: 5px;
   
    background-color: #1389b2;


    display: flex;
     align-items: center;
    justify-content: center;
}


